{{! This will be your default layout for all handlebars file rendered. This will be inherited by all other templates. }}
{{! Refer lecture code to learn more on how this works
don't forget to include your css and your client-side script file references in the layout.
}}
<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../../public/css/styles.css" />
    <title>{{title}}</title>

  </head>

  <body>
    {{{body}}}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    {{! <script src="../public/js/client_side_validation.js"></script> }}
  </body>

</html>


