<nav class="nav">
    <a href="/agencyHome"><img src="public/Images/logo.jpg" alt="dog logo" class="logo" /></a>
    <a href="/logout"><button class="login-button">Logout</button></a>
</nav>
<p>Pet added!!!</p>