<nav class="nav">
    
   <a href="/agencyHome"><img src="public/Images/logo.jpg" alt="dog logo" class="logo" /></a> 
    <a href="/logout"><button class="login-button">Logout</button></a>
</nav>
<h1>Select an Option</h1>
<div>
  <form action="/addpet" method="get">
    <button type="submit">Register a new pet for adoption</button>
  </form>
  <form action="/petUpdate" method="get">
    <button type="submit">Update and existing pet from your list</button>
  </form>
  {{!-- <form action="/redirect/option3" method="get">
    <button type="submit">I dont know</button>
  </form> --}}
</div>

<div class="navigate">
    <a href="/education"><button class="login-button">View Education Centre</button></a>
</div>
<br>
<div class="navigate2">
    <a href="/petStories"><button class="login-button">See Our Success Stories</button></a>
</div>