{{!-- <h1>Select an Option</h1>
<ul>
  <li><a href="/logout">Option 1</a></li>
  <li><a href="/redirect/option2">Option 2</a></li>
  <li><a href="/redirect/option3">Option 3</a></li>
</ul> --}}


<h1>Select an Option</h1>
<div>
  <form action="/addpet" method="get">
    <button type="submit">Register a new pet for adoption</button>
  </form>
  <form action="/redirect/option2" method="get">
    <button type="submit">Update and existing pet from your list</button>
  </form>
  <form action="/redirect/option3" method="get">
    <button type="submit">I dont know</button>
  </form>
</div>
