<nav class="nav">

  <a href="/agencyHome"><img src="public/Images/logo.jpg" alt="dog logo" class="updated-logo"/></a>
  <div>
  <a href="/education" class="login-button">View Education Centre</a>
  <a href="/petStories" class="login-button">See Our Success Stories</a>
  <a href="/logout" class="login-button">Logout</a>
  </div>
</nav>
<h1>Select an Option</h1>
<div>
  <form action="/addpet" method="get">
    <button type="submit">Register a new pet for adoption</button>
  </form>
  <br>
  <form action="/petUpdate" method="get">
    <button type="submit">Update and existing pet from your list</button>
  </form>
  {{!-- <form action="/redirect/option3" method="get">
    <button type="submit">I dont know</button>
  </form> --}}
  <br>
  <form action="/contactUsers" method="get">
    <button type="submit">Contact Users</button>
  </form>
</div>