<nav class="nav">
    <a href="/agencyHome"><img src="public/Images/logo.jpg" alt="dog logo" class="updated-logo" /></a>
    <div>
    {{!-- <button class="login-button"><a href="/logout">Logout</a></button> --}}
    <a href="/logout" class="login-button"> Logout </a>
    </div>
</nav>
{{#each userDetails}}
<p>{{this}}</p>
{{!-- <p>hi</p> --}}
{{/each}}
{{#if error}}
    <p>No users found to contact.</p>
{{/if}}