{{!

login form handlebar template

}}

<div class="container">
  <div class="background">
    <img src="public/Images/landingPageImg.jpg" alt="dog" class="background" />
  </div>

  <nav class="nav">
    <img src="public/Images/logo.jpg" alt="dog logo" class="updated-logo" />
    {{!-- <button><a href="/petStories">See Our Success Stories</a></button> --}}
    <a href="/petStories" class="button-link">See Our Success Stories</a>
    <button class="login-button">Login</button>
  </nav>
 {{#if openLogin}}
      <div class="overlay-bg show-overlay">
  </div>
      {{else}}
      <div class="overlay-bg">
  </div>
  {{/if}}

    {{#if openLogin}}
    <div class="login-popup show-login">
      {{else}}
    <div class="login-popup">
  {{/if}}
    <header>
      <h1>Login</h1>
    </header>
    <section>
      <form action="/login" method="post" id="login-form">
        <label for="login-email-input">Enter your email to login</label>
        <input type="email" id="login-email-input" name="login-email-input" />
        <label for="login-password-input">Enter your password</label>
        <input
          type="password"
          name="login-password-input"
          id="login-password-input"
        />
        <section>
          <label for="userType">Select User Type:</label>
          <select id="userType" name="userType">
            <option value="user">User</option>
            <option value="agency">Agency</option>
          </select>
        </section>
        <input type="submit" class="submit-btm-login" />
        <img src="public/Images/login-popup.jpg" alt="man walking dog" />

      </form>
    </section>
  </div>

  <div class="register-popup">
    <header>
      <h1>Register</h1>
    </header>
    <section>
      <form id="registerForm" method="post" action="/register">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" />

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" />

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />
        <label for="passwordConfirm">Password Confirm:</label>
        <input type="password" id="passwordConfirm" name="passwordConfirm" />

        <section>
          <label for="userTypeRegister">Select User Type:</label>
          <select id="userTypeRegister" name="userTypeRegister">
            <option value="user">User</option>
            <option value="agency">Agency</option>
          </select>
        </section>

        <button type="submit" id="registerBtn">Submit your details.</button>
      </form>
    </section>
  </div>
  <div class="register-blurb">
    <p>Swipe Right for Your Purrfect Match: Connecting Hearts and Homes, One Paw
      at a Time!</p>
    <button class="register-button">Open Registeration Form</button>
    {{#if error}}
      <p class="error-message">{{error}}</p>
    {{/if}}
  </div>

</div>
<script src="../public/js/login_signup.js"></script>
{{!-- <script src="../public/js/ajax.js"></script> --}}