<nav class="nav">
   <a href="/home"><img src="public/Images/logo.jpg" alt="dog logo" class="updated-logo" /></a> 
    {{!-- <a href="/logout"><button class="login-button">Logout</button></a> --}}
</nav>

<div id="petstories">
  <div class="background" id="petstoriesbackground">
    <h1>Sucessful Pet Stories</h1>

    {{#each petStories}}
    <div class="story" id="petstory">
      <h2>{{name}}</h2>
      <p>{{successStory}}</p>
      {{!-- <p class="author" id="petauthor">Author: {{author}}</p> --}}
    </div>
    <br>
    {{/each}}

  </div>
</div>