<div class="petUpdate-container">
  <form action="#" method="post">
    <label for="petTrueRadio">True</label>
    <input type="radio" id="petTrueRadio" name="answer" value="true" />

    <label for="petFalseRadio">False</label>
    <input type="radio" id="petFalseRadio" name="answer" value="false" />

    <label for="textInput">Enter your Pet Success story</label>
    <input
      type="text"
      id="textInput"
      name="comments"
      placeholder="Enter your comments"
    />

    <input type="submit" value="Submit" />
  </form>
</div>