/* You will create a CSS stylesheet in /public/css/styles.css; this file should have at least 5 rulesets.  You will need to utilize all 5 rulesets on each of the pages (not every page has to use all 5 rulesets each but all 5 rulesets must be utilized by the various pages in your application).  So you can have some rulesets for one page, some for another page but there needs to be at least 5 total rulesets that are used between all the pages.  */

body {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  height: 50px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 100px;
  object-fit: contain;

  
}

.login-button {
  margin-right: 50px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  color: white;
  border-radius: 10px;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  overflow: hidden;
}

.navigate {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  position: bottom;
}

.navigate2 {
  grid-column-start: 11;
  grid-column-end: 12;
  grid-row-start: 4;
  position: bottom;
}

.nav {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 1;
  z-index: 2;
}

.background {
  width: 100%;
  height: 100vh;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 13;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.login-popup {
  grid-row-start: 4;
  grid-row-end: 10;
  grid-column-start: 5;
  grid-column-end: 9;
  background-color: white;
  border-radius: 25px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

.overlay-bg {
  width: 100%;
  height: 100vh;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 13;
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-in-out;
  display: none;
  z-index: -1;
}
.show-overlay {
  z-index: 1;
  display: block;
}
.show-login {
  display: block;
}

#login-form {
  display: flex;
  flex-direction: column;
}
.submit-btm-login {
  margin-top: 10px;
}
#login-form img {
  max-height: 200px;
  object-fit: contain;
}
#login-form label {
  margin: 10px;
}

.register-popup {
  grid-row-start: 4;
  grid-row-end: 10;
  grid-column-start: 5;
  grid-column-end: 9;
  z-index: 2;
  background-color: white;
  border-radius: 25px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

.show-register {
  display: block;
}

.register-blurb {
  /* display: none; */
  grid-row-start: 4;
  grid-row-end: 12;
  grid-column-start: 4;
  grid-column-end: 10;
  z-index: 2;
  align-self: end;
  text-align: center;
  color: white;
  font-size: xx-large;
}

.register-button {
  background-color: #ff6036;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
  color: white;
  font-size: large;
  border: 2px solid white;
}

#educentre {
  text-align: center;
  margin-top: 50px;
}

#edubackground {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#educentre h1 {
  color: #333;
}

/* Styles for each section */

#educentre section {
  margin-top: 30px;
}

.pet-care,
.adoption,
.responsible-ownership {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pet-care h2,
.adoption h2,
.responsible-ownership h2 {
  color: #007bff;
}

.pet-care p,
.adoption p,
.responsible-ownership p {
  color: #555;
}

.pet-care ul,
.adoption ul,
.responsible-ownership ul {
  list-style-type: none;
  padding: 0;
}

.pet-care li,
.adoption li,
.responsible-ownership li {
  margin-bottom: 10px;
}

.error-message {
  color: rgb(255, 0, 0);
  background: rgb(255, 246, 246);
}

.selector-dogShow {
  display: none;
}
.selector-catShow {
  display: none;
}

#guardianbg {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#guardiancentre {
  text-align: left;
  margin-top: 50px;
}

#guardiancentre h1 {
  color: #333;
}

#guardiancentre ul {
  list-style-type: none;
  padding: 0;
}

#myguardian {
  text-align: right;
  margin-top: 50px;
  margin-right: 250px;
}

#myguardian ul {
  list-style-type: none;
  padding: 0;
}

#petstories {
  text-align: center;
  margin-top: 50px;
}

#petstoriesbackground {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#petstories h1 {
  color: #333;
}

#petstory h2 {
  color: #007bff;
}

#petstory {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#petauthor {
  color: black;
  font-size: large;
}

#addpet-form {
  max-width: 600px;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#addpet-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#addpet-form input,
#addpet-form select,
#addpet-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

.tinder-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-items: center;
}

.pet-img {
  height: 450px;
  border: 5px solid rgb(253, 83, 83);
  grid-column-start: 5;
  grid-column-end: 9;
  width: 85%;
  /* margin-left: 40%; */
}
.pet-img img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.pet-bio {
  grid-column-start: 5;
  grid-column-end: 9;
  border-left: 5px solid #007bff;
  border-right: 5px solid #007bff;
  width: 85%;
  /* margin-left: 40%; */
}
.pet-desc {
  grid-column-start: 5;
  grid-column-end: 9;
  border-left: 5px solid #007bff;
  border-right: 5px solid #007bff;
  border-bottom: 5px solid #007bff;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 85%;
  /* margin-left: 40%; */
}

.tinder-logo {
  height: 50px;
  grid-column-start: 5;
  grid-column-end: 9;
  border: 5px solid rgb(253, 83, 83);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(253, 83, 83);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 85%;
  /* margin-left: 40%; */
}
.tinder-logo img {
  object-fit: contain;
}

.pet-bio {
  display: flex;
  justify-content: space-evenly;
  /* font-size: xx-large; */
}

/* .pet-bio p:last-child {
  text-align: right;
  font-size: xx-large;
  margin-top: 0;
  margin-bottom: 0;
} */

.shortlist {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  padding: 0;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: xx-large;
  text-align: right;
}

.pets-list-header {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  width: 85%;
  text-align: center;
  border: 2px solid black;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.pets-list {
  border: 2px solid red;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 8;
  height: 80vh;
  width: 85%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow-y: auto;
  overflow-x: hidden;
}

.pet-shotlist-logo {
  height: 50px;
  border-radius: 50%;
  width: 50px;
}
.pets-list li {
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
}
.pets-list li:hover {
  background-color: #51a4fc;
}

.pets-list li img {
  margin-left: 5%;
  margin-right: 5%;
}
.click-me {
  margin-left: 25%;
}

.hide-tinder {
  display: none;
}

.pet-details-container {
  grid-column-start: 6;
  grid-column-end: 11;
  grid-row-start: 2;
  border: 2px solid red;
  width: 100%;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.pet-details-container img {
  border: 2px solid black;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 6;
  width: 100%;
  height: 100%;
}

.details-pet-name {
  grid-column-start: 8;
  grid-column-end: 12;
  grid-row-start: 2;
  /* border: 2px solid black; */
}

.details-pet-type {
  /* border: 2px solid blue; */
  grid-row-start: 3;
  grid-column-start: 8;
}
.details-pet-age {
  /* border: 2px solid blue; */
  grid-row-start: 3;
  grid-column-start: 10;
  grid-column-end: 12;
}
.details-pet-breed {
  /* border: 2px solid pink; */
  grid-row-start: 5;
  grid-column-start: 8;
}
.details-pet-breedSize {
  /* border: 2px solid black; */
  grid-row-start: 5;
  grid-column-start: 10;
}

.details-pet-gender {
  /* border: 2px solid blue; */
  grid-row-start: 4;
  grid-column-start: 8;
  grid-column-end: 10;
}

.details-pet-charecterstics {
  /* border: 2px solid red; */
  grid-column-start: 2;
  grid-column-end: 9;
  grid-row-start: 6;
}

.details-pet-health {
  /* border: 2px solid red; */
  grid-column-start: 3;
  grid-column-end: 11;
  grid-row-start: 11;
}
.details-pet-needs {
  /* border: 2px solid yellow; */
  grid-column-start: 3;
  grid-column-end: 11;
  grid-row-start: 10;
}
.details-pet-houseTrained {
  /* border: 2px solid yellowgreen; */
  grid-column-start: 10;
  grid-column-end: 12;
  grid-row-start: 6;
}

.details-pet-description-placeHolder {
  /* border: 2px solid cyan; */
  grid-column-start: 2;
  grid-column-end: 12;
  grid-row-start: 8;
}
.details-pet-description {
  /* border: 2px solid cyan; */
  grid-column-start: 2;
  grid-row-start: 7;
}
.details-back-btn {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
}

.details-show {
  display: none;
}

.adopt-pet {
  grid-row-start: 11;
  grid-column-start: 9;
  grid-column-end: 13;
}

.pets-view {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12.1fr);
  overflow: scroll;
  grid-gap: 20px;
  margin-left: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
}
.pets-view img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  grid-row-start: 2;
}
.pets-view-container {
  grid-row-start: 3;
  text-align: center;
}

.pets-view-header {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  width: 100%;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
.arrow-left {
  grid-column-start: 4;
  grid-row-start: 2;
  text-align: center;
  justify-self: center;
  align-self: center;
  font-size: 50px;
}
.arrow-right {
  grid-column-start: 9;
  grid-row-start: 2;
  text-align: center;
  justify-self: center;
  align-self: center;
  font-size: 50px;
}

/* questionnaire handlebar*/
#questionnaire-form {
  max-width: 600px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}
#questionnaire-form div[class^="question"] {
  margin-bottom: 20px;
}
#questionnaire-form p {
  font-weight: bold;
  margin-bottom: 10px;
}
#questionnaire-form label {
  display: block;
  margin-bottom: 8px;
}
#questionnaire-form input[type="radio"],
#questionnaire-form input[type="checkbox"] {
  margin-right: 8px;
}

.edit-review-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#updateReviewForm {
  text-align: center;
  margin-top: 50px;
}

.petUpdate-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.petUpdate-container form {
  display: flex;
  flex-direction: column;
}

.petUpdate-container label {
  margin-bottom: 10px;
  font-weight: bold;
}

.petUpdate-container input[type="checkbox"],
.petUpdate-container input[type="text"] {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.petUpdate-container input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.petUpdate-container input[type="submit"]:hover {
  background-color: #45a049;
}




.updated-logo{
  height: 50px;
}

#registerForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#registerForm input{
  margin-bottom: 10px;
}
.login-popup h1{
  text-align: center;
}
.register-popup h1{
  text-align: center;

}
#registerBtn{
  margin-top: 15px;
}