/* You will create a CSS stylesheet in /public/css/styles.css; this file should have at least 5 rulesets.  You will need to utilize all 5 rulesets on each of the pages (not every page has to use all 5 rulesets each but all 5 rulesets must be utilized by the various pages in your application).  So you can have some rulesets for one page, some for another page but there needs to be at least 5 total rulesets that are used between all the pages.  */

body {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  height: 50px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 100%;
}

.login-button {
  margin-right: 50px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  color: white;
  border-radius: 10px;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  overflow: hidden;
}

.nav {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 1;
  z-index: 2;
}

.background {
  width: 100%;
  height: 100vh;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 13;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.login-popup {
  grid-row-start: 4;
  grid-row-end: 10;
  grid-column-start: 5;
  grid-column-end: 9;
  background-color: white;
  border-radius: 25px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

.overlay-bg {
  width: 100%;
  height: 100vh;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 13;
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-in-out;
  display: none;
  z-index: -1;
}
.show-overlay {
  z-index: 1;
  display: block;
}
.show-login {
  display: block;
}

#login-form {
  display: flex;
  flex-direction: column;
}
.submit-btm-login {
  margin-top: 10px;
}
#login-form img {
  height: 250px;
}
#login-form label {
  margin: 10px;
}

.register-popup {
  grid-row-start: 4;
  grid-row-end: 10;
  grid-column-start: 5;
  grid-column-end: 9;
  z-index: 2;
  background-color: white;
  border-radius: 25px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

.show-register {
  display: block;
}
/* .register-tagline {
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  grid-row-end: 10;
} */
/* .register-tagline p {
  text-align: center;
} */

.register-blurb {
  /* display: none; */
  grid-row-start: 4;
  grid-row-end: 11;
  grid-column-start: 4;
  grid-column-end: 10;
  z-index: 2;
  align-self: end;
  text-align: center;
  color: white;
  font-size: xx-large;
}

.register-button {
  background-color: #ff6036;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
  color: white;
  font-size: large;
  border: 2px solid white;
}

/* Add your general styles here */

#educentre {
  text-align: center;
  margin-top: 50px;
}

#edubackground {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#educentre h1 {
  color: #333;
}

/* Styles for each section */

#educentre section {
  margin-top: 30px;
}

.pet-care, .adoption, .responsible-ownership {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pet-care h2, .adoption h2, .responsible-ownership h2 {
  color: #007bff;
}

.pet-care p, .adoption p, .responsible-ownership p {
  color: #555;
}

.pet-care ul, .adoption ul, .responsible-ownership ul {
  list-style-type: none;
  padding: 0;
}

.pet-care li, .adoption li, .responsible-ownership li {
  margin-bottom: 10px;
}

/* Add more styles as needed */
